.mainFrontEnd {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.frontLink{
    color: rgb(247, 62, 123);
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
   
 }

 .frontLink:focus{
    color: rgb(26, 217, 217);
}
// ////////////////////////
.sidebar{
    // width: 100%;
    // padding: 50px 10px;
    // display: flex; 
    
  
  
}

.htmlLinks{
    padding: 6px 10px;
    color: rgb(69, 35, 237);
    display: block;
    text-decoration: none;
    font-size: 20px;
    
}

.mainc{
    display: flex;
    justify-content: center;
}