$primary-color: #f31559; // pink-red
$secondary-color: #FEFBF6; // white
$background-color: #3D3C42; // gray black
$title-color: #7F5283; // purple
$text-color: #A6D1E6; // Dark Gray
$btn-color: #0074d9; // light-blue


.allsection{
    padding: 10px 0px;
 
}

.infotitle{
    display: flex;
    justify-content: center;
    padding: 30px 0px;

    &_head{
        color:$text-color;
        font-size: 36px;
    }
}

.image{
    display: flex;
    justify-content: center;
    padding: 30px 0px;

    &_img{
        width: 300px;
        height: 300px;
        box-shadow: -11px -4px 13px 7px #000000bf;
        
    }
}

.explain{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    color: $secondary-color;
    font-size: 22px;
}