

$Secondprimary-color: #2B8FBF; // lightblue
$Secondsecondary-color:#EEEEEE; // white
$Secondbackground-color: #231F20; // black
$Secondtitle-color: #00699B; //darkblue
$Secondtext-color:#82D9ED ; // kyan
$Secondbtn-color:#7F5283; // lightpurple

.allsection{
    padding: 10px 0px;
 
}

.infotitle{
    display: flex;
    justify-content: center;
    padding: 30px 0px;

    &_head{
        color:$Secondbtn-color;
        font-size: 36px;
    }
}

.image{
    display: flex;
    justify-content: center;
    padding: 30px 0px;

    &_img{
        width:400px;
        height: 300px;
        box-shadow: -11px -4px 13px 7px #000000bf;
        
    }
}

.explain{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    color: $Secondsecondary-color;
    font-size: 22px;
}