$primary-color: #0074d9; // Blue
$Secondprimary-color: #2B8FBF; // lightblue
$Secondsecondary-color:#EEEEEE; // white
$Secondbackground-color: #231F20; // black
$Secondtitle-color: #00699B; //darkblue
$Secondtext-color:#82D9ED ; // kyan
$Secondbtn-color:#7F5283; // lightpurple


.SefirstCard{
    background-color: #EEEEEE;
}