*{
    padding: 0;
    margin: 0;
}

.mainNavBar{
    font-size: 24px;
    background-color: rgb(146, 78, 210);
    display: flex;
    justify-content: space-evenly;
    padding: 9px 0px;
}

.mainBar{
    text-decoration: none;
    color: white;
   
}
